@charset "utf-8";

/* OVERFLOW "*" */

.menuIcon {
    height: 30px;
}

.footerNav{
    justify-content: center;   
}
.displayRemove {
    display:none;
}

.containerOne {
    margin-top: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.contanierOne H2 {
    width: 100%;
}

.underlineAnimationH2 {
    margin-left: 20px;
}

.cBoxContainer {
    margin-left: 60%;
}

#checkbox:checked ~ .menu {
    margin-left: -30%;
    margin-top: 50px;
}

.menu {
    width: 100%;
}

main h2 {
    font-size: 20px;
}

main h1 {
    margin-top: 20%;
    font-size: 50px;
}

main {
    height: 75%;
}

main{
    /* margin-top: 20%; */
}