@charset "utf-8";


/* Nav */
.navH2 {
    opacity: 60%;
    transition: opacity .6s;
}

.navH2:hover {
    opacity: 100%;
}
.underlineAnimationH2 {
    all: none;
}

.underlineAnimationH2:after {
    all: none;
}

.underlineAnimationH2:hover:after {
    all: none;
  }

.containerOne {
    overflow: visible;
}

.containerOne {
    margin-top: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}



.cBoxContainer {
    margin-left: -8%;
    flex: 1;
}

#checkbox:checked ~ .menu {
    margin-left: -30%;
    margin-top: 100px;
}


.containerOne H2 {
    font-size: 30px;
    margin-top: 10%;
    opacity: 70%;
    border: solid rgba(255, 255, 255, 1) 1.5px;
    border-radius: 10px;
    padding: 4px;
}

/* Menu */

nav.menu {
    margin-top: 100px;
    width: 100%;
}

.menuIcon {
    height: 30px;
}


/* Main */
main h2 {
    font-size: 20px;
}

main h1 {
    margin-top: 20%;
    font-size: 50px;
}

main {
    height: 70%;
}


/* Footer */

.footerNav h2 {
    font-size: 30px;
}

.footerNav {
    justify-content: center;   
}

/* Utility classes */

.displayRemove {
    display:none;
}