<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Layout 1</title>
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
<body>
    <header class="addM"></header>
    <nav class="addM"></nav>
    <main class="addFlex">
        <aside class="mainLeft">
            <section class="addM"></section>
            <section class="addM"></section>
            <section class="addM"></section>
        </aside>
        <aside class="mainRight addM">
            <section></section>
            <section class="addM"></section>
            <section class="addM"></section>
            <aside class="mainRTwo addFlex">
                <section></section>
                <section></section>
            </aside>
            <section class="addM"></section>
        </aside>
    </main>
    <footer></footer>
</body>