<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Layout 4</title>
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <header class="addFlex">
            <aside class="topHeader addFlex">
                <h3 class="signIn">Sign in</h3>
                <section class="searchFieldSection addFlex">
                    <input class="searchField" type="search">
                </section>
                <h3 class="createAcc">Create An Account</h3>
                <h3 class="contact">Contact</h3>
            </aside>
            <aside class="bottomHeader addFlex">
                <section class="logo addFlex">
                    <img class="resize" src="assets/images/logo.jpg" alt="logo">
                </section>
                <section class="name addFlex">
                    <h1>SAS</h1>
                </section>
                <section class="call addFlex">
                    <h2>Call</h2>
                    <h2>1-800</h2>
                </section>
            </aside>
        </header>
        <nav class="addFlex navigate">
            <h2>Packages</h2>
            <h2>Destinations</h2>
            <h2>Flights</h2>
            <h2>Accomodations</h2>
            <h2>Search</h2>
            <section class="searchFieldSection addFlex">
                <input class="searchField" type="search">
            </section>
        </nav>
        <main class="addFlex">
            <aside class="left addFlex">
                <h1>Featured packages</h1>
                <section class="category addFlex">
                    <h4>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo risus volutpat urna porta.
                    </h4>
                    <img src="assets/images/bigPackage.png" alt="bigPackage">
                </section>
                <section class="category addFlex">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo risus volutpat urna porta.</h4>
                    <img src="assets/images/bigPackage.png" alt="bigPackage">
                </section>
                <section class="category addFlex">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo risus volutpat urna porta.</h4>
                    <img src="assets/images/bigPackage.png" alt="bigPackage">
                </section>
                <section class="category addFlex">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo risus volutpat urna porta.</h4>
                    <img src="assets/images/bigPackage.png" alt="bigPackage">
                </section>
            </aside>
            <aside class="middle addFlex">
                <h1>Featured Destination</h1>
                <aside class="topAside addFlex">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo risus volutpat urna porta, non vestibulum turpis maximus. Nulla mattis, ex ac aliquam tristique, elit tellus sodales turpis, nec mattis dolor mauris eget arcu. Vivamus odio tellus, luctus ut eros eu, cursus efficitur massa. Nam sit amet libero id libero cursus sagittis. Aliquam in neque malesuada, feugiat lorem scelerisque, sagittis nisl. Maecenas lacinia bibendum luctus. Nunc et dui sit amet purus iaculis placerat. Mauris id ex ut leo mattis suscipit nec id elit. Integer non sodales eros, vitae volutpat turpis.
                    </h4>
                    <section class="greece">
                        <img src="assets/images/greece.jpg" alt="greece">
                        <h2>Greece</h2>
                    </section>
                </aside>
                <aside class="imgSlider addFlex">
                    <img src="assets/images/greece1.jpg" alt="picOfGreece">
                    <img src="assets/images/greece2.jpg" alt="picOfGreece">
                    <img src="assets/images/greece3.jpg" alt="picOfGreece">
                    <img src="assets/images/greece4.jpg" alt="picOfGreece">
                    <img src="assets/images/greece5.jpg" alt="picOfGreece">
                    <img src="assets/images/greece6.jpg" alt="picOfGreece">
                </aside>
                <aside class="arrows addFlex">
                    <img class="arrowLeft" src="assets/images/arrowLeft.svg" alt="arrowLeft">
                    <img class="arrowRight" src="assets/images/arrowRight.svg" alt="arrowRight">
                </aside>
            </aside>
            <aside class="right addFlex">
                <section class="tools">
                    <h3>Time Zone Map</h3>
                    <h3>Currency Calculator</h3>
                    <h3>Weather</h3>
                </section>
                <section class="ad">
                    <a href="#" target="_blank"><img src="assets/images/ad1.jpg" alt="ad1"></a>
                </section>
                <section class="ad">
                    <a href="#" target="_blank"><img src="assets/images/adTwo.jpg" alt="ad2"></a>
                </section>
            </aside>
        </main>
        <footer></footer>
    </body>