@charset "utf-8";


::selection {
    background-color: #f3005d;
    color: #fff;
}

header {
    flex-direction: column;
    justify-content: space-around;
}

header h1 {
    order: 2;
    flex: 0;
    position: absolute; 
}

.spanLogo {
    color: #0769ca;
}


nav {
    width: 100vw;
    order: 1;
    flex: 0;
}

main {
    flex-direction: column;
    min-height: 1000px;
}

.main-center {
    display:flex;
    order: 2;
    flex: 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-center img {
    position: static;
    width: 25%;
    height: 40%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.main-center h1 {
    position: static;
}

.main-left {
    order: 1;
    flex: 1;
}

.main-right {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-right h3 {
    color: #0b243d;
    padding-top: 0px;
}

.noticeable {
    position: static;
    font-size: 150%;
    left: 33%;
}

.bleu {
    position: static;
    font-size: 150%;
}

.main-right span {
    color: #0b427a;
}
.main-right h2 {
    margin-top: 5%;
    margin-left: 0%;
    color: #0b243d;
}

footer section img {
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 15%;
    max-height: 15%;
}

footer {
    height: 150px;
}