<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Layout 4</title>
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <header class="addFlex">
            <aside class="topHeader addFlex">
                <h3 class="signIn">Sign in</h3>
                <section class="searchFieldSection addFlex">
                    <input class="searchField" type="search">
                </section>
                <h3 class="createAcc">Create An Account</h3>
                <h3 class="contact">Contact</h3>
            </aside>
            <aside class="bottomHeader addFlex">
                <section class="logo addFlex">
                    <img class="resize" src="assets/images/logo.jpg" alt="logo">
                </section>
                <section class="name addFlex">
                    <h1>SAS</h1>
                </section>
                <section class="call addFlex">
                    <h2>Call</h2>
                    <h2>1-800</h2>
                </section>
            </aside>
        </header>
        <nav>
            <h2></h2>
            <h2></h2>
            <h2></h2>
            <h2></h2>
            <h2></h2>
            <section class="searchFieldSection addFlex">
                <input class="searchField" type="search">
            </section>
        </nav>
        <main></main>
        <footer></footer>
    </body>