@charset "utf-8";

* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0px;
    background-color: #86A8E7;
}

.addFlex {
    display: flex;
}

header {
    flex-direction: column;
    width: 100%;
    height: 225px;
}

header h3:hover {
    cursor: pointer;
}


.topHeader {
    justify-content: flex-end;
    flex-direction: row;
    width:100%;
    height: 40%;
    align-items: center;
}

.signIn {
    margin-right: 10px;
}

.createAcc {
    margin-left: 80px;
}

.contact {
    margin-left: 100px;
    margin-right: 60px;
}

.topHeader:nth-child()

.searchFieldSection {
    height: 100%;
    align-items: flex-end;
}


.searchField {
    width:100%;
    font-size: 125%;
}

.bottomHeader {
    width:100%;
    height:60%;
}

.logo {
    width: 20%;
    border: 2px solid black;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

.resize {
    height:80%;
    width: 60%;
}

.name {
    width: 82.5%;
    margin-right: 20px;
    border: 2px solid black;
    font-size: 300%;
    align-items: center;
    justify-content: center;
}

.call {
    width: 17.5%;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.call h2 {
    margin: 0px;
    margin-bottom: 10px;
}

.navigate {
    height: 35px;
    margin-top: 10px;
    width: 100%;
    border: 2px solid black;
    align-items: center;
    justify-content: flex-end;
    font-size: 16.5px;
}

.navigate h2{
    margin-right: 50px;
}

.navigate h2:hover {
    cursor: pointer;
}

.navigate section {
    margin-right: 10px;
}

.navigate:nth-child(6){
    margin: 30px;
}

main {
    margin-top: 10px;
}

main aside {
    height: 500px;
}

.left {
    flex: 3;
    border: 3px solid black;
    margin-left: 1px;
    margin-right: 10px;
    flex-direction: column;
}

.left h1 {
    margin-left: 10px;
}

.category {
    height: 17.5%;
    width: 100%;
    flex-direction: row;
    margin-bottom: 20px
}

.category img {
    margin-left: 30px;

}

.category h4 {
    width: 50%;
    margin: 0px;
    margin-left: 10px;
}

.middle {
    flex: 7;
    border: 3px solid black;
    flex-direction: column;
}

.topAside {
    flex-direction: row;
    justify-content: space-between;   
    height: 250px;
}

.topAside h4,h1 {
    margin-left: 30px;
}

.topAside h1 {
    font-size: 150%;
}

.topAside h4 {
    width: 45%;
}

.greece {
    width: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.topAside section h2 {
    margin: 0px;
    margin-top: 5px;
}

.topAside img {
    height: 100%;
    width: 90%;
    margin-left: 20px;
}

.arrows {
    width: 100%;
    justify-content: space-between;
}

.imgSlider {
    margin-top: 30px;
    margin-bottom: 10px;
    justify-content: center;
}

.imgSlider img {
    margin-right: 5px;
    margin-left: 5px;
}

.imgSlider img:hover {
    cursor: pointer;
}

.arrowLeft {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.arrowLeft:hover {
    cursor: pointer;
}

.arrowRight {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.arrowRight:hover{
    cursor: pointer
}

.right {
    flex: 2;
    height: 500px;
    margin-left: 10px;
    margin-right: 1px;
    flex-direction: column;
}

.right section {
    height: 33.33333%;
    margin-bottom: 10px;
    width: 100%;
    border: 3px solid black;
}

.tools h3 {
    margin-left: 10px;
}

.tools h3:hover {
    cursor: pointer;
}

.ad img {
    height: 100%;
    width: 100%;
    margin: 0px;
}
.ad img:hover {
    cursor: pointer;
}