@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    background-color:#e0e0e0;
    margin: 0px ;
    width: calc(100% - 20px);
    margin: auto;
}

header {
    height: 70px;
}

.logo {
    background-color: coral;
    flex: 1;
    margin-right: 40%;
}

.banner {
    background-color: coral;
    flex: 3;
}

nav {
    height: 50px;
    width: 100%;
    background-color: coral;
}

main {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 500px;
}

.mainLeft {
    flex: 2;
}

.mainLeft section {
    width: 100%;
    height: 300px;
    background-color: coral;
}

.mainLeft section:nth-child(3) {
    height: 400px;
}

.mainRight {
    flex: 1;
    margin-left: 10px;
}

.mainRight section {
    background-color: coral;
    width:100%;
}

.mainRight> section:nth-child(1){
    height: 39%;
    margin-bottom: 10px;
}

.mainRight> section:nth-child(2){
    height: 60%;
}

.mainRight2 {
    flex: 1;
    margin-left: 10px;
}

.mainRight2 section {
    background-color: coral;
    width: 100%;
}

.mainRight2 section:nth-child(1) {
    height: 250px;
}

.mainRight2 section:nth-child(2) {
    height: 450px;
}

.mainRight2 section:nth-child(3) {
    height: 300px;
}

aside {
    width: 100%;
}

footer {
    background-color: coral;
    height: 100px;
}


/* Utility Classes */

.addM {
    margin-top: 10px;
    margin-bottom: 10px;
}

.addFlex {
    display: flex;
}