@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#checkboxHack {
    visibility: hidden;
}

body {
    background-color: #F2F2F2;
}

.container {
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    height: 250px;

    padding: 0px 175px; /* two values equals top/bottom right/left */

    background-color: #475569;

    justify-content: space-between;
    align-items: center;
}

header h1 {
    flex: 1;
    font-size: 52px;
    font-weight: bold;
    color: #0b243d;
}

.spanLogo {
    color: #0769ca;
}

.mobile-menu-icon {
    display:none;
}

.mobileMenu {
    display: none;
}

.input {
    display: none;
}

nav {
    flex: 1;
    width: 40%;
}

nav ul {
    list-style: none;
    justify-content: space-evenly;
    font-size: 20px;
}

nav li {
    cursor: pointer;
}

main {
    width: 100%;
    min-height: 700px;
}

.main-left, .main-right {
    background-color: #637692;
    flex: 1;
}

.main-left h2 {
    padding-bottom: 40px;
    padding-top: 60px;
    font-style: italic;
    padding-left: 5px;
    color: #0b243d;
}

.main-left p {
    padding-left: 5px;
}

.main-center {
    background-color: #5F6C7E;
    flex: 3;
    position: relative;
}

.main-center h1 {
    font-size: 52px;
    position: absolute;
    left: 30%;
    top: 5%;
    color: #0b243d;
}

.main-center img {
    position: absolute;
    top: 20%;
    left: 30%;
    border-radius: 5%;
    filter: grayscale(70%);
}

.main-right {
    position: relative;
}

.main-right h3 {
    color: #0b243d;
    padding-top: 10px;
}

.noticeable {
    position: absolute;
    top: 10%;
    font-size: 110%;
    left: 2.5%;
}

.bleu {
    position: absolute;
    left: 40%;
    top: 12.5%;
    font-size: 110%;
}

.main-right span {
    color: #0b243d;
}
.main-right h2 {
    margin-top: 60%;
    margin-left: 25%;
    color: #0b243d;
}

footer {
    width: 100%;
    height: 250px;

    background-color: #3E4043;
}

footer section img {
    flex-direction: column;
    margin-top: 2.2%;
    margin-left: 15%;
    height: 100%;
}

footer section img:hover {
    cursor: pointer;    
}


/* Utility Classes */

.addFlex {
    display:flex;
}

.active {
    font-weight: bold;
}