@charset "utf-8";

body {
    margin: 0px;
    background-color:#23384d;

}

header {
    background-color: #34495e;
    position: relative;
    left: 20%;
    height: 400px;
    width: 60%;
    border: solid black 3px;
    border-top: solid black 4px;
}

header section {
    display:flex;
    flex-direction: row;
}

header section h1 {
    position: absolute;
    left: 57%;
    bottom: 70%;
    font-size: 300%;
}

header section h2 {
    position: absolute;
    left: 45%;
    bottom: 60%;
}

.cover {
    position: absolute;
    top: 5%;
    left: 2%;
}

main {
    position: relative;
    left: 20%;
    border: solid black 3px;
    border-top: 0px;
    min-height: 600px;
    width: 60%;
    background-color:#34495e;
}

main h4 {
    position: absolute;
    bottom: 20%;
    left: 50%;
    right: 10%;
}

main h2 {
    position: absolute;
    bottom: 70%;
    left: 50%;
    right:10%;
}


iframe {
    position: absolute;
    margin: 10px;
    top: 17%;
    left: 1%;
}
