<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Layout 3</title>
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <nav class="addFlex">
            <aside class="logo addFlex">
                <section class="addFlex logoSection">
                    <img src="assets/images/letterH.png" alt="logo">
                </section>
            </aside>
            <aside class="fourBoxes addFlex">
                <section></section>
                <section></section>
                <section></section>
                <section></section>
            </aside>
        </nav>
        <header class="addFlex">
            <img src="assets/images/arrowLeft.svg" alt="arrowLeft">
            <aside>
                <img src="assets/images/room.jpg" alt="room">
                <h1>Picture with all of our furniture</h1>
                <h2>Fits amazingly well! ~ A customer</h2>
            </aside>
            <img src="assets/images/arrowRight.svg" alt="arrowRight">
        </header>
        <main class="addFlex">
            <section class="imgBox addFlex">
                <section class="filter1">
                    <img src="assets/images/flower.jpg" alt="flower">
                </section>
            </section>
            <section class="imgBox addFlex">

            </section>
            <section class="imgBox addFlex">

            </section>
            <section class="imgBox addFlex">

            </section>
            <section class="imgBox addFlex">

            </section>
            <section class="imgBox addFlex">

            </section>
            <section class="imgBox addFlex">

            </section>
            <section class="imgBox addFlex">

            </section>
        </main>
        <footer></footer>
    </body>