<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Layout 3</title>
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <header class="addFlex">
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
        </header>
        <nav class=></nav>
        <main class="addFlex">
        </main>
        <footer></footer>
    </body>